# Cypress Testes E2E

node_modules/
.DS_Store
cypress/downloads/
cypress/screenshots/
# Temporariamente comentado abaixo para permitir commitar os vídeos de demonstração (não recomendado)
# cypress/videos/
dist/
.env
.env.local
